@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl mt-3 ml-6;
  }
  
  p {
    @apply text-base ml-6;
  }
}

html {
  height: 100%;
}

.svg-image-border {
  fill: transparent;
  stroke: black;
  shape-rendering: crispEdges;
}

.svg-text-background {
  fill: white;
  shape-rendering: crispEdges;
}
