@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

.svg-image-border {
  fill: transparent;
  stroke: black;
  shape-rendering: crispEdges;
}

.svg-text-background {
  fill: white;
  shape-rendering: crispEdges;
}
